.discover-page-container {
  margin-top: 50px;
  background: white;
  padding: 10px 30px;
  box-sizing: border-box;
  z-index: 0;
}
.song-list-header {
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  color: #333;
}
.song-list-subheader {
  color: #999;
  font-size: 14px;
}

.playButton {
  cursor: pointer;
}
.hero-image-text {
  margin: auto auto;
  padding-bottom: 10px;
}
.hero-image-text > h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 300;
}

.hero-image-text > h2 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.song-list-subheader-title {
  font-size: 20px;
  margin: 0;
  color: #999;
}
