.login-nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  margin: 0;
  left: 0;
  display: flex;
  color:#ccc;
  justify-content: center;
  font-size: 14px;
  
}
.inner-login-nav{
  width: 1240px;
  display: flex;
  justify-content: space-evenly;
}
.header-middle, .header-left, .header-right {
  display: flex;
}
.header-middle{
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 45px;
}
.inner-login-nav a:hover{
  color: white;
} 
.inner-login-nav a{
  color:#ccc;
text-decoration: none;
} 

.login-nav ul {
  display: flex;
}


.header-search-form {
  width: 450px;
  height:25px;
  background: #ffffff;
  border-radius: 6px;
  flex-direction: row;
  // padding: 9px 10px 8px;
  box-sizing: border-box;
  
}
.header-search-form input[type="search"] {
  width: 90%;
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  box-sizing: border-box;
  border-radius: 6px;
}


button.search-button {
  width: auto;
  border: none;
  background: #e5e5e5;
}
.left-nav-button {
  padding: 20px;
  border-right: 0.5px solid #111;
}
.header-left-items, .header-right{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-right > * {
  padding: 0px 20px;
}

.header-right-items > * {
  padding: 0px 20px;
}


// main#root {
//     box-sizing: border-box;
// }

