.medium-waveform-container {
  padding: 20px;
  display: flex;
}
.medium-info-container {
  // display: flex;
  padding: 10px 5px;
  width: 100%;
}
.medium-image {
  max-height: 200px;
  max-width: 200px;
}

.username {
  margin: 0;
  font-size: 12px;
  color: #999999;
}
.songtitle {
  font-size: 15px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.play-pause-show-medium {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.wave-container {
  position: relative;
}
.loader {
  position: absolute;
  top: 47%;
  left: 47%;
}
.user-show-page {
  background: linear-gradient(
    to right,
    hsla(3, 50%, 50%, 0.7) 0%,
    #70929c 115%
  );
}
