.song-button-container{
    width:150px;
    height:150px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-content: center;
    
}
.playButton{
    margin: auto auto;
    width: 25%;
}

.song-button-container:hover{
    box-shadow: 0px 0px 26px;
    cursor: pointer;
}
//////outer
.songs-container{
    position: relative;
    width: 110%;
}
//inner
.songs-scroll{
    width: 990px;
    min-height: fit-content;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid  #f2f2f2;
}
.songs-container-inner{
    margin: 0 auto;
    width: 100%;
    padding: 20px 20px 20px 1px;
    min-height: fit-content;
    display: flex;
    transition: all ease-in-out 1s;
    transform: translate(0%, 0%);
}
.left-arrow, .right-arrow{
    height: 32px;
    width: 32px;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    position: relative;
    padding: 2px 11px 2px 10px;
    z-index: 9;
    cursor: pointer;
    right: 85px;
    top: 90px;
}