.user-page-container {
  // border: 3px solid red;
}

.user-show-page {
  margin-top: 42px;

  box-sizing: border-box;
  padding: 20px 20px 20px 30px;
}

.hero-song-display {
  // border: 3px solid green;
}

.profile-pic {
  background-color: rgb(15, 133, 15);
  border-radius: 50%;
  min-height: 200px;
  min-width: 200px;
  color: white;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.custom-image-upload {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
}

.custom-image-upload:hover {
  background-color: #fff;
}
.custom-image-upload p {
  margin: 0px 0px 0px 3px;
}

.hide {
  display: none;
}

.wave-container {
  width: 100%;
}
