.user-page-container {
  border: 3px solid red;
}

.user-show-page {
  margin-top: 42px;
  border: 3px solid blue;
  box-sizing: border-box;
  padding: 20px 20px 20px 30px;
}

.hero-song-display {
  border: 3px solid green;
}

.profile-pic {
  background-color: grey;
  border-radius: 50%;
  min-height: 200px;
  min-width: 200px;
  color: white;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.custom-image-upload {
  background: #fff;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-image-upload p {
  margin: 0;
}
