// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-image {
  border-radius: 100%;
  // width: 100%;
  // height: 100%;
  background-size: cover;
  background-position: center;
}
.hero-user-display {
  padding: 0;
  position: relative;
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: flex-start;
}
.user-image-container,
.user-image {
  width: 200px;
  height: 200px;
}

.user-title {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 7px;
  font-size: 24px;
  line-height: 37px;
  margin-top: 0;
  margin-left: 30px;
  color: #fff;
  font-weight: 100;
}

.profile-pic {
  display: flex;
  flex-direction: column;
}

.profile-pic > h1 {
  position: relative;
}

.user-image {
  z-index: 1;
  position: absolute;
}

.noSongs-container {
  background-image: image-url("header2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
  padding: 100px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.noSongs-container > h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

a.orange-button-upload {
  background: #f50;
  font-size: 18px;
  border-radius: 5px;
  // border: 1px solid white;
  color: white;
  width: 100px;
  height: 30px;
  padding: 2px 15px;
  text-align: center;
  cursor: pointer;
}

a.orange-button-upload:hover {
  background: rgba(255, 85, 0, 0.515);
}
